@using EpamTasks.Entities;
@using EpamTasks.PL;

@{
    Layout = null;
    int id;




    if (int.TryParse(Request["id"], out id))
    {
        try
        {

            User user = LogicProvider.UserLogic.GetUserById(id, false);
            List<Award> userAwards = LogicProvider.UserLogic.GetAwardsByUserId(id) as List<Award>;
            List<Award> allAwards = LogicProvider.UserLogic.GetAwards() as List<Award>;

                <div>@user.Name</div>
                <img src="~/Commands/Image?user_id=@user.Id" )" />
                <ul>
                    @foreach (Award award in userAwards)
                    {
                        <li>@award.Title<a href="~/Commands/DepriveAward.cshtml?userid=@user.Id&awardid=@award.Id">Отнять</a></li>
                    }
                </ul>

                <form action="~/Commands/GiveAnAward.cshtml" method="post">
                    <input type="hidden" name="userId" value="@id" />
                    <select name="awardId">
                        @foreach (var award in allAwards)
                        {
                            <option value="@award.Id">@award.Title</option>
                        }
                    </select>
                    <button>Вручить</button>
                </form>

                <form action="~/Commands/UploadImageToPlayer.cshtml?id=@id" method="post" enctype="multipart/form-data">
                    <!--<input type="hidden" name="userId" value="" />-->
                    <input type="file" name="userimage" />
                    <button>Отправить</button>
                </form>

        }
        catch (KeyNotFoundException)
        {
            @("Пользователь не найден.")
        }

    }
    else
    {
        @("Пожалуйста, не надо играться с аргументами...")
    }
}
    