@using EpamTasks.Entities;
@using EpamTasks.PL;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
    string login = Response.Cookies["login"].
    //string password = Response.Cookies.Get("password").Value;

    //bool a = LogicProvider.UserLogic.LoadFromFile();
    string page = Request["page"];
    switch (page)
    {
        case "users": @RenderPage($"~/Pages/Users.cshtml"); break;
        case "user": @RenderPage($"~/Pages/User.cshtml"); break;
        case "awards": @RenderPage($"~/Pages/Awards.cshtml"); break;
        case "award": @RenderPage($"~/Pages/Award.cshtml"); break;
        default: @RenderPage($"~/Pages/Welcome.cshtml"); break;
    }

    /*try
    {
        @RenderPage($"~/Pages/{page}.cshtml");
    }

    catch (Exception)
    {

    }*/

}

@section Menu
    {
    <div>
        @if (true) //Заглушка для авторизации
        {
            @RenderPage("~/Pages/MenuPage.cshtml")
        }
        else
        {
            @RenderPage("~/Pages/AuthPage.cshtml")
        }
    </div>
}
